<footer>
    <address class="footer_wrap">
        <div class="information">
            <div class="myname">
                ETOOS
            </div>
            <a href="mailto:{{ site.author.email }}" class="email">
                {{ site.author.email }}
            </a>
            <!-- <div class="accounts">
                <a href="http://dribbble.com/iamleejihye" target="_blank" class="transition">
                    <svg viewBox="0 0 48.6 48.6">
                    <path d="M24.3,0C10.9,0,0,10.9,0,24.3s10.9,24.3,24.3,24.3s24.3-10.9,24.3-24.3C48.7,10.9,37.8,0,24.3,0z M24.3,4.2
                     c4.6,0,8.9,1.6,12.3,4.2c-2.4,3.2-5.8,5.6-10.1,7.5c-2.1-3.8-4.4-7.5-7.1-11C21,4.5,22.6,4.2,24.3,4.2z M15.3,6.4
                     c2.7,3.5,5.1,7.2,7.2,10.9c-4.9,1.5-10.8,2.2-17.6,2.2C6.2,13.8,10.1,9,15.3,6.4z M4.2,24.3c0-0.2,0-0.3,0-0.5
                     c7.8,0,14.5-0.9,20.2-2.7c0.5,1,0.9,1.9,1.4,2.9C19,26.2,13.3,30.6,8.9,37.2C6,33.7,4.2,29.2,4.2,24.3z M24.3,44.5
                    c-4.7,0-8.9-1.6-12.3-4.3c4-6.3,9.1-10.3,15.4-12.2c1.9,4.9,3.3,10,4.1,15.1C29.3,44,26.9,44.5,24.3,44.5z M35.5,41.1
                    c-0.9-4.8-2.2-9.4-3.9-14c3.8-0.5,8-0.4,12.6,0.4C43.3,33.1,40.1,38,35.5,41.1z M30,23.1c-0.5-1.1-1-2.3-1.6-3.4
                    c4.7-2,8.5-4.8,11.3-8.3c2.7,3.2,4.5,7.3,4.7,11.8C39.2,22.4,34.4,22.3,30,23.1z"></path>
                    </svg>
                </a>
            </div> -->
        </div>
        <div class="copyright">
            <span>
                &copy; {{ site.author.name }}. <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time>
                <!-- &copy; ETOOS All right reserved. <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> -->
            </span>
        </div>    
    </address>
</footer>