<div class="post-header loading-animation" style="background-image: url('{{ page.header-img }}')">
    <div id="etoos-main-banner">
        <section class="explanation">
            <h2 class="subTitle">Etoos Tech Blog</h2>
            <h1 class="mainTitle">이투스와 나눠요.</h1>
            <div class="etoos-recruitBt">
                <a class="transition" href="{{ site.baseurl | append: '/recruit' }}">
                    지원하기
                </a>
            </div>
        </section>
    </div>
</div>